# DATA_TYPES_and_STRUCTURES_ASSIGNMENTS

#1. What are data structures, and why are they important?
-Data structures are the way of storing and organising data so that it can be accessed and manipulated efficiently.
-e.g-string,tupple,set,dictionary,array,etc.
#2.Explain the difference between mutable and immutable data types with examples
-mutable data types-->those datatypes whose values can be changed after it is created.e.g.--lists,dictionaries,sets
-immutable data types-->those datatypes whose values cannot be changed after it is created,e.g.->string,tuple
#3.What are the main differences between lists and tuples in Python?
- the main differences between lists and tuples in Python is that tuples are immutable while lists are mutable
#4.Describe how dictionaries store data
-a dictionary data type stores data in key-value pairs written within curly brackets{key:value}..e.g--{"name":"sagar"}
#5. Why might you use a set instead of a list in Python?
-sets provide uniqueness.i.e.if we need a collection of unique items or need to perform set operations, a set is a better choice than a list.
list may contain duplicate elements but set has unique elements.
#6. What is a string in Python, and how is it different from a list?
-A string in Python is a sequence of characters enclosed within single quotes ('), double quotes ("), or triple quotes (''' or """). Strings are used to represent text data.
it is different from lists as list can store various different datatypes in a single list.
e.g.-->s={"name","roll","sagar"}
e.g.-->l={1,2.0,4+7j,"sagar",(3,4,5)}
#7.How do tuples ensure data integrity in Python
-Tuples in Python ensures data integrity due to their immutable nature.
#8. What is a hash table, and how does it relate to dictionaries in Python
-A Hash table is  a data structure used to insert, look up, and remove key-value pairs quickly. Just like hash tables, dictionaries store data in key-value pairs. Each key is hashed to generate an index where the value is stored.
#9.can lists contain different data types in Python
-yes,list can contain different data types in a single list.
e.g.-->l={1,2.0,4+7j,"sagar",(3,4,5)}
#10.Explain why strings are immutable in Python
-Strings in Python are immutablewhich means they can not be changed after they are created.if strings weren't immutable, wecouldn't reliably use them as keys in a dict, since their hash value might suddenly change.
#11.What advantages do dictionaries offer over lists for certain tasks
- Lists are linear in nature whereas dictionaries stored the data in key-value pairs. Lists can duplicate values since each values have unique index.Dictionaries cannot contain duplicate keys but can contain duplicate values since each value has unique key.
#12. Describe a scenario where using a tuple would be preferable over a list
-When we want to ensure that data is not changed accidentally. Tuples being immutable do not allow any changes in its data.
-When we want faster access to data that will not change as tuples are faster than lists
#13. How do sets handle duplicate values in Python
-In Python, sets are a collection type that automatically handle duplicate values by ensuring that each element is unique. When you add elements to a set, any duplicate values are automatically removed.
#14. How does the “in” keyword work differently for lists and dictionaries
-The in  operator works on dictionaries as  it tells you whether something appears or not as a key in the dictionary. It returns two values True or False
while in lists "in" can be used for traversal.
#15.Can you modify the elements of a tuple? Explain why or why not
-Once a tuple is created,we cannot change its values. Tuples are unchangeable, or immutable .
#16. What is a nested dictionary, and give an example of its use case
-Nesting Dictionary means putting a dictionary inside another dictionary.
{'Dict1': {'name': 'Ali', 'age': '19'}, 'Dict2': {'name': 'Bob', 'age': '25'}}
#17.Describe the time complexity of accessing elements in a dictionary
-The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.
#18.in what situations are lists preferred over dictionaries
-A list keeps order, dict and set don't: when we care about order, therefore, we must use list .
#19.Why are dictionaries considered unordered, and how does that affect data retrieval
-A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python (before 3.7), dictionaries did not preserve insertion order at all.
Starting from Python 3.7, dictionaries do retain insertion order as an implementation detail, meaning elements appear in the order they were added when you print or iterate over them
#20. Explain the difference between a list and a dictionary in terms of data retrieval.
-A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

# PRACTICAL QUESTIONS

In [2]:
#1.Write a code to create a string with your name and print it
s="SAGAR KUMAR"
print(s)

SAGAR KUMAR

# New Section

In [3]:
#2. Write a code to find the length of the string "Hello World"
a= "Hello World"
print(len(a))

11

In [4]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
a="Python Programming"
a[3:]

'hon Programming'

In [8]:
#4. Write a code to convert the string "hello" to uppercase
a="hello"
print(a.upper())

HELLO

In [10]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
a="I like apple"
b=a.replace("apple", "orange")
print(b)

I like orange

In [11]:
#6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [13]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
l=[1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [15]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l=[1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [16]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l= ['a', 'b', 'c', 'd']
l[1]

'b'

In [19]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
l=[10, 20, 30, 40, 50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

In [20]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t=(100, 200, 300)
print(t)

(100, 200, 300)

In [21]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t=('red', 'green', 'blue', 'yellow')
t[1:]

('green', 'blue', 'yellow')

In [22]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10, 20, 5, 15)
min(t)

5

In [24]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog', 'cat', 'rabbit')
t.index("cat")

1

In [25]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
f=("banana","kiwi","pineapple")
print("kiwi" in f)

True

In [26]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a', 'b', 'c' }
print(s)

{'b', 'a', 'c'}

In [28]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
f={1, 2, 3, 4, 5}
f.clear()
print(f)

set()

In [30]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a={1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

In [33]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1, 2, 3}
b={3, 4, 5}
union_set = a | b
print(union_set)

{1, 2, 3, 4, 5}

In [34]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a={1,2,3}
b={2,3,4}
print(a&b)

{2, 3}

In [35]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
info = {
    "name": "Sagar",
    "age": 20,
    "city": "Patna"
}
print(info)

{'name': 'Sagar', 'age': 20, 'city': 'Patna'}

In [37]:
#22.. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
info2={'name': 'John', 'age': 25}
info2["Country"]="USA"
print(info2)

{'name': 'John', 'age': 25, 'Country': 'USA'}

In [38]:
#23.write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
info3={'name': 'Alice', 'age': 30}
print(info3["name"])

Alice

In [41]:
#24.. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
info4= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del info4["age"]
print(info4)

{'name': 'Bob', 'city': 'New York'}

In [42]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
info5={'name': 'Alice', 'city': 'Paris'}
print("city" in info5)

True

In [43]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = ('a', 'b', 'c', 'd', 'e')

my_dict = {'name': 'Alice', 'age': 25, 'city': 'Wonderland'}
print("List:", my_list)

print("Tuple:", my_tuple)

print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('a', 'b', 'c', 'd', 'e')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Wonderland'}

In [44]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [26, 43, 43, 58, 91]

In [45]:
#28. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

In [46]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'d': 4, 'e': 5, 'f': 6}
combined_dict = {**dict1, **dict2}
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [47]:
#30.Write a code to convert a list of strings into a set.
l=["apple","banana","grapes","grapes","banana","apple"]
print(set(l))

{'grapes', 'apple', 'banana'}